<html>
    <head>
        <title>Satisfacción de Atención al Cliente:</title>
    </head>
    <body>
        <header style="background-color: rgb(124, 125, 235); padding-left: 15px;padding-right: 15px;padding-top: 15px;">
            <nav>
                <a href="/" style="color:white; margin: right 4px;">Inicio</a>
                <a href="/login" style="color:white; margin: right 4px;">Login</a><br>
            </nav>
        </header>
        <article style="text-align: center;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/UTEC.jpg" height="600" alt="Logo de UTEC">
            <h1 style="color:rgb(0, 0, 0)">Estacionamiento UTEC</h1>
        </article>
    </body>
</html>